*{
  color:white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px grey;
}

/*http://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll(this article helps no scroll for other browsers)*/
::-webkit-scrollbar {
    display: none;
}

input[name="rover"]:checked {
  color: white;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #5a5a5a;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: white;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 1px solid grey;
}

#backgroundGoesHere {
  margin-top:5%;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Slabo 27px', serif;*/
}

#background, #navMars {
  background-image: url('../images/vikingMosaicEdited.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(178,74,26);
}

#background0, #navPicofday{
  background-image:url('../images/space.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(52,98,115);
}

#background1, #navExtras{
  background-image:url('../images/saturnCassini2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(34,28,34);
}

#marsFormInput {
  margin-right: 15%;
}

#marsInstructions{
  margin-top:11%;
}

#mobile-demoMars {
  background-color: #dc8c5f;
  width:250px;
}

#photoMod {
  border-radius:4%;
}

#picInstructions {
  margin-top: 2%;
}

#picForm {
  margin-top: 4%;
  margin-left:10%;
  margin-right:5%;
  padding-right:2%;
  padding-left:2%;
  border-radius: 8%;
  background-color: rgba(0,0,0,.5);
}

#posterHolder, .item {
    display: block;
    width: 100%;
    height: auto;
    margin-top:3%;
}

#radioAdjust {
  margin-bottom:10%;
}


#spiritBackground, #opportunityBackground, #curiosityBackground {
  margin-top: 12%;
  display:none;
}

#titleGoesHere {
  margin-right:60%;
  padding-left:15%;
  margin-left:-10%;
}

#button, #reload0 {
  background-color: #8C90C0;
  opacity: 0.9;
}

#button:hover, #reload0:hover {
  background-color: #adb0d2;
}

.btn:hover, .btn-large:hover, #marsButton:hover, #reloadMars:hover {
  background-color: #917a5f
}

.desc{
  background-color: rgba(0,0,0,.5);
  border-radius: 8%;
  padding: 10px;
  padding-left:20px;
}

.fiXed {
  position:fixed;
}

.marsBackgroundButton, #marsButton, #reloadMars {
  background-color: #635341;
  opacity: 0.7;
}

.readableText{
  font-family: 'Open Sans', sans-serif;
}

.side-nav {
  background-color: #7f9c95;
  width:250px;
}

.textHolder{
  padding-right:20%;
  padding-left:20%;
  border-radius: 4%;
  background-color: rgba(0,0,0,.5);
}

@media (max-width: 768px){
  nav .brand-logo{
    font-size: 1.7rem;
    margin-left: 5%;
  }
  #marsForm, #picForm {
    position: static;
  }
  #picForm {
    margin-top: 15%;
    margin-left:-1%;
  }
  #posterHolder {
    margin-top: 18%;
  }
}
