#background, #navMars {
  background-image: url('vikingMosaicEdited.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#background0, #navPicofday{
  background-image:url('space.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#background1{
  background-image:url('saturnCassini2.jpg');
  background-repeat: no-repeat;
}
#navMars {
  z-index: 2;
}
*{
  color:white;
  font-family: 'Orbitron', sans-serif;
}

#picForm {
  margin-top: 10%;
}

#marsForm {
  margin-top: 5%;
}
#marsInstructions{
  margin-top:22%;
}
#picInstructions {
  margin-top: 7%;
}

input[name="rover"]:checked {
color: white;

}

/*#logo{
  margin-left: 4%;
}*/

/*.naV {
  opacity: 0.0;

}*/

.readableText{
  font-family: 'Slabo 27px', serif;
}

.desc{
  background: #24232d;
  padding: 10px;
  padding-left:20px;
}

.fiXed {
  position:fixed;
}

@media (max-width: 768px){
  #marsForm {
    position: static;
  }
}
/*.ontop {
  position: relative;
  top: 4.7em;
  opacity: 1.0;
}*/
/*a {
  z-index: 2;
}*/
