#background, #navMars {
  background-image: url('images/vikingMosaicEdited.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#background0, #navPicofday{
  background-image:url('images/space.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#background1, #navExtras{
  background-image:url('images/saturnCassini2.jpg');
  background-repeat: no-repeat;
}
#navMars {
  z-index: 2;
}
*{
  color:white;
  font-family: 'Orbitron', sans-serif;
}

#backgroundGoesHere {
  margin-top:5%;
  font-family: 'Slabo 27px', serif;
}
#picForm {
  margin-top: 10%;
  margin-left:10%;
  margin-right:5%;
}

#marsForm {
  margin-top: 5%;
}
#posterHolder {
  margin-top: 10%;
}
#marsInstructions{
  margin-top:22%;
}
#picInstructions {
  margin-top: 7%;
}
.marsBackgroundButton, #marsButton, #reload {
  background-color: #635341;
  opacity: 0.7;
}
#photoMod {
  border-radius:4%;
}
#marsFormInput {
  margin-right: 15%;
}
#radioAdjust {
  margin-bottom:10%;
}
#spiritBackground, #opportunityBackground, #curiosityBackground {
  margin-top: 20%;
  display:none;
}

input[name="rover"]:checked {
color: white;

}

.readableText{
  font-family: 'Slabo 27px', serif;
}

.fiXed {
  position:fixed;
}

#posterHolder, .item {
    display: block;
    width: 100%;
    height: auto;
}


@media (max-width: 768px){
  #marsForm, #picForm {
    position: static;
  }
  #picForm, #posterHolder {
    margin-top: 18%;
  }
}
/*.ontop {
  position: relative;
  top: 4.7em;
  opacity: 1.0;
}*/
/*a {
  z-index: 2;
}*/

/*#logo{
  margin-left: 4%;
}*/

/*.naV {
  opacity: 0.0;

}*/

/*.desc{
  background: #24232d;
  padding: 10px;
  padding-left:20px;
}*/
